module.exports = {
  env: {
    browser: true,
    es6: true
  },
  extends: ['airbnb', 'prettier'],
  globals: {
    Atomics: 'readonly',
    SharedArrayBuffer: 'readonly'
  },
  parser: 'babel-eslint',
  parserOptions: {
    ecmaFeatures: {
      jsx: true
    },
    ecmaVersion: 2018,
    sourceType: 'module'
  },
  plugins: ['react'],
  rules: {
    "comma-dangle": ["error", "never"],
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": [
        "error",
        {
            "devDependencies": true
        }
    ]
  }
};
